.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  margin-bottom: 0;
  background: transparent;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: var(--text-body);
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid currentColor;
  appearance: none;
  cursor: pointer;
  outline: none;
  white-space: normal;

  &.outline {
    background: transparent;
    box-shadow: none;
    border-color: currentColor;

    :hover {
      transform: none;
      box-shadow: none;
    }
  }

  &.primary {
    &:hover {
      box-shadow: none;
    }
  }

  &.link {
    padding: 0;
    border: 0;
    background: none;
    font-size: 1rem;
    text-transform: none;
    letter-spacing: 0;
  }

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 200px;
  }
}

.code-toolbar {
  margin-bottom: 20px;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    background: transparent;
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0;
    border: 1px solid currentColor;
    appearance: none;
    cursor: pointer;
    outline: none;
  }
}
